<div class="theme-bg container-fluid">
  <div class="container py-5 mb-4">

    <div class="row mb-5 py-4">
      <div class="col-auto">
        <button class="theme-element px-4 py-2 border-0 rounded-2" routerLink="/home"><i class="bi bi-arrow-left"></i><span class="mx-3">Back</span></button>
      </div>
    </div>

    <ng-container *ngIf="loading; else content">

      <div class="row gy-5 justify-content-center">
        <div class="col-auto">
          <app-loading></app-loading>
        </div>
      </div>
      
    </ng-container>
    <ng-template #content>

      <div *ngIf="country" class="row gy-5 justify-content-between">
      
        <div class="d-flex flex-column col-md-6 col-xl-6 col-xxl-5">
          <img class="theme-element object-fit-cover img-fluid" src="{{country.flags.svg}}" alt="">
        </div>
      
        <div class="col-md-6 col-xl-6 col-xxl-5 d-flex flex-column justify-content-center">
      
          <div class="row gy-4">
      
            <div class="col-12">
              <div class="row">
                <h3 class="fw-800 m-0">{{country.name.common}}</h3>
              </div>
            </div>
      
            <div class="col-12">
              <div class="row gy-4 justify-content-between">
                <div class="col-sm-auto col-lg-6">
                  <p class="my-2 text-wrap fs-16 fw-600">Population: <span class="fw-300">{{country.population |
                      number}}</span></p>
                  <p class="my-2 text-wrap fs-16 fw-600">Region: <span class="fw-300">{{country.region}}</span></p>
                  <p class="my-2 text-wrap fs-16 fw-600">Sub Region: <span class="fw-300">{{country.subregion}}</span></p>
                  <p class="my-2 text-wrap fs-16 fw-600">Capital: <span class="fw-300">{{country.capital}}</span></p>
                </div>
                <div class="col-sm-auto col-lg-6">
                  <p class="my-2 text-wrap fs-16 fw-600">Top Level Domain: <span class="fw-300">{{tld}}</span></p>
                  <p class="my-2 text-wrap fs-16 fw-600">Currencies: <span class="fw-300">{{currencies}}</span></p>
                  <p class="my-2 text-wrap fs-16 fw-600">Languages: <span class="fw-300">{{languages}}</span></p>
                </div>
              </div>
            </div>
      
            <div *ngIf="country.borders" class="col-12">
              <div class="row gy-4">
                <div class="col-sm-auto d-flex align-items-center">
                  <p class="m-0 fs-16 fw-600">Border Countries:</p>
                </div>
                <div class="col-sm-auto d-flex align-items-center">
                  <div class="row g-3">
                    <div *ngFor="let country of country.borders" class="col-auto">
                      <app-border-country (countryName)="getCountryByName($event)"
                        [countryCode]="country"></app-border-country>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
      
        </div>
      </div>
      
    </ng-template> 

  </div>
</div>