<a tabindex="0" *ngIf="country" class="theme-element text-decoration-none rounded-2 country-card overflow-hidden flex-grow-1" routerLink="/details/{{country.name.common}}">
  <div>
    <div class="img-container d-flex position-relative">
      <img ngSrc="{{country.flags.png}}" class="img-fluid object-fit-cover flex-grow-1" alt="{{country.name.common}} flag." fill>
    </div>
    <div class="position-relative z-1 p-4 pb-5 fs-14">
      <h5 class="pb-3 m-0 fw-800">{{country.name.common}}</h5>
      <div class="row gy-2">
        <div class="col-12">
          <p class=" col-12 m-0 fw-600">Population: <span class="fw-300">{{country.population | number}}</span></p>
        </div>
        <div class="col-12">
          <p class=" col-12 m-0 fw-600">Region: <span class="fw-300">{{country.region}}</span></p>
        </div>
        <div *ngIf="country.capital" class="col-12">
          <p *ngIf="country.capital.length > 0" class="col-12 m-0 fw-600">Capital: <span class="fw-300">{{country.capital}}</span></p>
        </div>
      </div>
    </div>
  </div>
</a>
