<nav class="theme-element container-fluid position-relative py-4">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <h4 class="m-0 fw-800">Where in the world?</h4>
      <div class="d-flex row gx-2" role="button" (click)="switchTheme(true)">
        <div class="col-auto">
          <i [ngClass]="darkMode$? 'bi bi-moon-fill' : 'bi bi-moon'"></i>
        </div>
        <div class="col-auto">
          <p class="m-0 fw-600">Dark Mode</p>
        </div>
      </div>
    </div>
  </div>
</nav>